Makefile.in
Makefile
*~
*.o
*.lo
*.la
*.gir
*.typelib
.libs
.deps
config.*
aclocal.m4
autom4te.cache
depcomp
configure
doc/html*
doc/xml*
*.pc
gtk-doc.make
install-sh
gssdp-marshal.[ch]
libtool
ltmain.sh
missing
stamp-h1
