project: gssdp
api_version: 1.6

# TODO: Hardcode architecture for now
arch: x86_64

# Those are all jobs that are just run once, not on all distributions and versions
# format has to be distribution:version@arch
targets:
  coverage: fedora:41@x86_64
  coverity: fedora:41@x86_64
  static-scan: fedora:41@x86_64
  pages: fedora:41@x86_64
  downstream: fedora:41@x86_64
  dist: fedora:41@x86_64

# Projects to trigger after a successful build
# Format is name: gitlab project on this server
triggers:
  gupnp: "GNOME/gupnp"

# Distribution configurations
distributions:
  fedora: [41]

packages:
  fedora:
    needed: ['clang', 'clang-analyzer', 'gcovr', 'git', 'libasan', 'libubsan', 'python3-gobject', 'python3-pip', 'xmlto', 'gobject-introspection-devel', 'gtk-doc', 'libsoup3-devel', 'libuuid-devel', 'libxml2-devel', 'vala', 'ninja-build', 'python3-setuptools', 'gtk4-devel', 'pandoc']
